/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMONS */
body {
    background-color: #1f2d3a;
}
/* HEAD */
header {
    display: flex;
    justify-content: flex-start;
    background-color: #2f3a45;
    height: 90px;
}

.logo {
    width: 100px;
    padding: 1rem;
}
/* MAIN */
.disk {
    width: calc(70% / 5 - 10px);
    background-color: #2f3a45;
    margin: 30px;
}

.container_disk {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

img {
    width: 100%;
    padding: 9px;
}

p {
    color: grey;
    text-align: center;
    padding-bottom: 10px;
}

h3 {
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

.year {
    padding-bottom: 5px;
}